
.page {
    @apply absolute z-[9999] top-0 left-0 w-screen h-screen flex justify-center items-center;
    background: rgb(255, 255, 255);
}

.ldsFacebook {
    @apply inline-block relative w-20 h-20;
    div {
        @apply inline-block absolute left-2 w-4 bg-black;
        animation: ldsFacebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }
    div:nth-child(1) {
      left: 8px;
      animation-delay: -0.24s;
    }
    div:nth-child(2) {
      left: 32px;
      animation-delay: -0.12s;
    }
    div:nth-child(3) {
      left: 56px;
      animation-delay: 0;
    }
}
  @keyframes ldsFacebook {
    0% {
        @apply top-2 h-20;
    }
    50%, 100% {
        @apply top-6 h-10;
    }
  }
  