
.button {
    @apply px-5 py-2 rounded-3xl bg-slate-600 text-white;
    &[data-secondary="true"] {
        background: transparent;
        color: rgba(43, 43, 43, 0.9);
        font-weight: 600;
        border: 1px solid grey;
    }
    &:active {
        @apply scale-90;
    }
}