$color: rgba(237, 129, 6, 0.56);

.button {
    @apply px-5 py-2 text-[15px] font-medium leading-4 rounded-xl
    bg-gradient-to-r from-main-from to-main-to text-white transition-all;
    box-shadow: 0px 5px 4px $color;
    &[data-secondary="true"] {
        background: transparent;
        color: #373737;
        font-weight: 600;
        border: 1px solid $color;
    }
    &[data-danger="true"] {
        @apply bg-red-500 text-white font-semibold border-none;
    }
    &:hover {
        box-shadow: 0px 3px 7px $color;
    }
    &:active {
        @apply scale-90;
    }
}