.variant {
  @apply relative my-2 capitalize cursor-pointer;
  transition: all 0.2s linear;
  letter-spacing: 1px;
}
.checkbox {
  @apply min-w-[22px] min-h-[22px] flex justify-center items-center rounded-full border-1 border-black border-solid;
  .circle {
    @apply min-w-[12px] min-h-[12px] rounded-full bg-black;
    transition: all linear 0.3s;
    transform: scale(0);
  }
}

.text {
  transition: all linear 0.15s;
}

.active {
  .text {
    @apply font-bold;
  }
  .circle {
    transform: scale(1);
  }
}
