@import '../../utils/media.scss';

.navbar__btn {
  @apply w-8 h-6 p-0 relative;
  &:hover {
    .firstLine,
    .secondLine,
    .thirdLine {
      @apply w-full;
    }
  }

  &[data-open='true'] {
    .firstLine {
      transform: translateY(11px) rotateZ(-135deg);
      @apply top-0;
    }
    .secondLine {
      @apply right-1/2 w-0;
    }
    .thirdLine {
      transform: translateY(-10px) rotateZ(135deg);
      @apply bottom-0;
    }
    .firstLine,
    .thirdLine {
      @apply w-full;
    }
  }

  .firstLine,
  .secondLine,
  .thirdLine {
    transition: all linear 0.25s;
    @apply absolute bottom-0 right-0 w-full h-[13%] bg-title-color rounded-2xl;
  }
  .firstLine {
    @apply top-0;
  }
  .secondLine {
    @apply top-[44.5%] w-2/3;
  }
  .thirdLine {
    @apply bottom-0 w-1/3;
  }
}

.navbar {
  @apply flex flex-col gap-4 absolute z-[999] top-0 -left-[10%] w-[50vw] h-[150vh] items-center bg-white py-10;
  @include tablet {
    @apply w-4/6;
  }
  @media (max-width: 500px) {
    left: -20%;
    width: 100%;
  }
}
.navbar__title {
  text-transform: capitalize;
  letter-spacing: 1px;
}
.navbarLinks__link {
  @apply mb-2 cursor-pointer text-lg;
  letter-spacing: 1px;
}

.child[data-open='true'] {
  @apply pointer-events-auto;
  background: #0000009a;
}

.child {
  @apply absolute z-[990] top-0 left-0 bg-transparent pointer-events-none;
}

.profile {
  @apply p-0;
  .profileTitle {
    @apply text-left mt-1 font-normal;
  }
  .profileOption {
    @apply text-left px-0;
  }
}
