$transition: 0.4s;
$color: rgba(0, 0, 0, 0.8);

.navbar {
    @apply fixed z-50 top-0 left-0 overflow-hidden text-transparent;
    transition: all $transition linear, color $transition * 0.1 linear;
    &.active {
        color: #fff;
    }
    button {
        @apply absolute top-[10px] left-[10px] py-2 px-3 text-center bg-transparent rounded-2xl; 
        color: $color;
        border: 1px solid $color;
    }
    & ~ .navbar__blur {
        @apply fixed z-40 top-0 left-0 w-screen h-screen rounded-full;
        backdrop-filter: blur(2px);
        transform: translate(-100%, -100%);
        transition: 
        transform ($transition * 0.8) linear, 
        border-radius ($transition * 0.66) linear,
        background-color ($transition * 0.6) linear;
    }
    &.active ~ .navbar__blur {
        background-color: rgba(0, 0, 0, 0.7);
        transform: translate(0, 0);
        border-radius: 0rem;
    }

    .navbar__body {
        padding: 2rem 20px 1rem 50px;
    }
    .navbar__title {
        font-size: 20px;
        text-transform: capitalize;
        letter-spacing: 1px;
    }
    .navbarLinks {
        .navbarLinks__link {
            margin-bottom: 1rem;
            cursor: pointer;
            letter-spacing: 1px;
            font-size: 18px;
        }
    }
}