.projectPage {
  @apply bg-project-bg pt-5;
  min-height: inherit;
}
.title {
  @apply text-center mb-4;
}
.projectList {
  @apply flex gap-4 flex-wrap justify-around items-start my-4;
}

.project {
  @apply relative p-4 pt-1 rounded-xl bg-white cursor-pointer;
  width: 300px;
  min-height: 250px;
  .title {
    @apply pb-3 rounded-[1px] border-solid font-bold border-slate-500 border-b-2 mb-4;
  }
  .content {
    @apply opacity-0 relative z-1 flex flex-col gap-y-2 pointer-events-none py-3 px-2;
    transition: all ease 0.45s;
  }
  .buttonsContainer {
    @apply opacity-0 pointer-events-none;
    transition: all ease 0.45s;
  }
  .projectHomeIcon {
    @apply absolute w-[115px] h-[115px] top-1/2 left-1/2 z-0 pointer-events-none;
    transform: translate(-50%, -50%);
    transition: all ease 0.45s;
  }

  &.active {
    .content {
      @apply opacity-100;
      pointer-events: all;
    }
    .buttonsContainer {
      @apply opacity-100;
      pointer-events: all;
    }
    .projectHomeIcon {
      @apply w-[200px] h-[200px] opacity-30;
    }
  }
}

.projectState {
  @apply ml-auto text-white w-max py-1 px-2 rounded-md my-2;
}

.buttonsContainer {
  @apply mt-3 w-full flex flex-col flex-wrap justify-between items-center gap-4;
}

.flexs {
  @apply flex items-center;
}
