@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 100vw;
    overflow-x: hidden;
    background: rgb(211, 211, 211);
    &.hiddenBody {
        overflow: hidden;
    }
}
button {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
}
img {
    max-width: 500px;
    object-fit: cover;
}
:focus {
    outline: none;
}
.container {
    max-width: clamp(300px, 90vw, 1000px);;
    margin: 0 auto;
}

.links {
    display: none;
    @media (min-width: 769px) {
        display: block;
    }
}
.burger {
    display: none;
    @media (max-width: 768px) {
        display: block;
    }
}